<div (click)="goToLink(paper.url)">
    <!-- <a class="preview" [href]="linkData.url">
        <img [src]="linkData.image" />
        <div>
            <h4>{{linkData.title}}</h4>
            <p>{{linkData.description}}</p>
        </div>
    </a> -->
    {{ paper.name }} <br> Description: {{ paper.description }} <br> Created: {{ paper.date | date:'yyyy-MM-dd hh:mm:ss' }}
</div>

<button type=" button" class="btn btn-outline-success" (click)="upVote();">
    <fa-icon [icon]="faUpVote"></fa-icon>
</button> {{ paper.vote }}
<button type="button" class="btn btn-outline-danger" (click)="downVote()">
    <fa-icon [icon]="faDownVote"></fa-icon>
</button>